body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/google-maps-background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */

#logo {
    height: 120px;
}

nav {
    background-color: #dbd7de;
    height: 120px !important;
}

.header {

}

.nav-wrapper li a{
    color: #5e0992 !important;
}
