body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../images/google-maps-background.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */

#logo {
    height: 100px;
}

nav {
    background-color: white;

}

nav ul a {
    color: black;
}

nav a.sidenav-trigger {
    display: block;
}